{{- $p := includeTemplate "platform.json" . | fromJson -}}

{{- if and (not $p.isNixOS) (not $p.isWindows) }}
[".config/neovim-config"]
  type = "git-repo"
  url = "https://github.com/jeomhps/neovim"
  refreshPeriod = "0s"

  [".config/neovim-config".clone]
    args = ["--branch", "main", "--single-branch"]
{{- end }}
