{{- $isLinux := eq .chezmoi.os "linux" -}}
{{- $isNixOS := and $isLinux (contains "nixos" (lower .chezmoi.hostname)) -}}
{{- $isWindows := eq .chezmoi.os "windows" -}}

{{- if and (not $isNixOS) (not $isWindows) }}
["local/share/neovim-config"]
  type = "git-repo"
  url = "https://github.com/jeomhps/neovim"
  refreshPeriod = "0s"

  ["local/share/neovim-config".clone]
    args = ["--branch", "main", "--single-branch"]
{{- end }}
