export EDITOR=nvim

{{ if eq .chezmoi.os "darwin" -}}

# Homebrew
export HOMEBREW_PREFIX="$(brew --prefix)"
export HOMEBREW_BUNDLE_NO_UPGRADE=1

export PATH="/opt/homebrew/bin:$PATH"
export PATH="/opt/homebrew/sbin:$PATH"

# go
export PATH="$PATH:$(go env GOPATH)/bin"

# Zsh plugin on macos
source /opt/homebrew/share/zsh-autocomplete/zsh-autocomplete.plugin.zsh
source /opt/homebrew/share/zsh-autosuggestions/zsh-autosuggestions.zsh
source /opt/homebrew/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

# Colima for docker
export DOCKER_HOST="unix://$HOME/.colima/default/docker.sock"

{{ else if eq .chezmoi.os "linux" -}}

alias zed='zeditor'

{{ end -}}

source ~/.zsh/catppuccin_mocha-zsh-syntax-highlighting.zsh

alias py='python3'
alias home='cd ~'
alias ..="cd .."
alias doc="cd ~/Documents/"
#alias docker='podman'
alias v='nvim'
alias lzd='lazydocker'
alias neofetch='fastfetch'

{{ if eq .chezmoi.os "darwin" -}}

alias ls='exa --color=always --group-directories-first --icons'
alias ll='exa -l --color=always --group-directories-first --icons'
alias ll='exa -la --color=always --group-directories-first --icons'

alias bbedit='brew bundle edit --global'
alias bbinstall='brew bundle install --global'
alias bbclean='brew bundle --global --cleanup'
alias bbcheck='brew bundle check --global'
alias bbupgrade='brew update && brew upgrade && brew bundle install --global --upgrade'

{{ else if eq .chezmoi.os "linux" -}}

alias ls='exa --color=always --group-directories-first --icons=always'
alias ll='exa -l --color=always --group-directories-first --icons=always'
alias la='exa -la --color=always --group-directories-first --icons=always'

{{ end -}}
alias cat="bat"
alias df="duf"

#Git Aliases
alias g='lazygit'

{{ if contains .chezmoi.hostname "nixos" }}
alias update="sudo nixos-rebuild switch --flake .#"
alias update-boot="sudo nixos-rebuild boot --flake .#"
alias check="sudo nixos-rebuild dry-run --flake .#"
alias upgrade="nix flake update && sudo nixos-rebuild switch --flake .#"
alias nix-clean="sudo nix-collect-garbage -d && nix-collect-garbage -d"
alias nix-info="nixos-version && nix --version"
alias nix-gen="sudo nix-env --list-generations --profile /nix/var/nix/profiles/system"
alias rollback="sudo nixos-rebuild switch --flake .# --rollback"
{{ end }}

# Gopass

gp() {
  gopass show -o "$1"
}
eval "$(starship init zsh)"

