[window]
{{ if eq .chezmoi.os "darwin" -}}

opacity = 0.8
#Next option is only on macos
option_as_alt = "OnlyLeft"

{{ else if eq .chezmoi.os "linux" -}}

opacity = 0.97

{{ end -}}

padding = { x = 10, y = 10}
blur = true
startup_mode = "Maximized"
decorations = "None"

[font]
normal = { family = "CaskaydiaCove Nerd Font Mono", style = "Regular" }

[cursor]
style = {shape = "Underline", blinking = "On"}

[mouse]
hide_when_typing = true

[terminal.shell]
{{ if eq .chezmoi.os "darwin" -}}
program = "/bin/zsh"
{{ else if eq .chezmoi.os "linux" -}}
program = "/run/current-system/sw/bin/zsh"
{{ end -}}
