{{- $isDarwin := eq .chezmoi.os "darwin" -}}
{{- $isLinux := eq .chezmoi.os "linux" -}}
{{- $isWSL := and $isLinux (contains "microsoft" (lower .chezmoi.kernel.osrelease)) -}}
{{- $isNixOS := and $isLinux (contains "nixos" (lower .chezmoi.hostname)) -}}

# --------------------------------------------------
# Environment
# --------------------------------------------------

{{- if $isDarwin }}

# Homebrew
export PATH="/opt/homebrew/bin:/opt/homebrew/sbin:$PATH"
export PATH="$PATH:$HOME/.my-scripts/bin"
export HOMEBREW_PREFIX="$(brew --prefix)"
export HOMEBREW_BUNDLE_NO_UPGRADE=1

# Go
export PATH="$PATH:$(go env GOPATH)/bin"

# Zsh plugins on macOS
source /opt/homebrew/share/zsh-autocomplete/zsh-autocomplete.plugin.zsh
source /opt/homebrew/share/zsh-autosuggestions/zsh-autosuggestions.zsh
source /opt/homebrew/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

# Colima
export DOCKER_HOST="unix://$HOME/.colima/default/docker.sock"
export EDITOR="nvim"

{{- else if $isLinux }}

alias zed='zeditor'

gopath="$(go env GOPATH)" || return
export PATH="$PATH:$gopath/bin"
export PATH="$PATH:$HOME/.local/bin"
export PATH="$PATH:$HOME/.cargo/bin"
export PATH="$PATH:$HOME/.my-scripts/bin"

export EDITOR="hx"

source ~/.zsh/catppuccin_mocha-zsh-syntax-highlighting.zsh

{{- end }}

# --------------------------------------------------
# Common aliases
# --------------------------------------------------

alias py='python3'
alias home='cd ~'
alias ..='cd ..'
alias doc='cd ~/Documents/'
#alias v='hx'
alias lzd='lazydocker'
alias neofetch='fastfetch'
alias cat='bat -p'
alias df='duf'
alias g='lazygit'

# --------------------------------------------------
# ls aliases
# --------------------------------------------------

{{- if $isDarwin }}
alias ls='exa --color=always --group-directories-first --icons'
alias ll='exa -l --color=always --group-directories-first --icons'
alias la='exa -la --color=always --group-directories-first --icons'

alias bbedit='brew bundle edit --global'
alias bbinstall='brew bundle install --global'
alias bbclean='brew bundle --global --cleanup'
alias bbcheck='brew bundle check --global'
alias bbupgrade='brew update && brew upgrade && brew bundle install --global --upgrade'

alias v='nvim'

{{- else if $isLinux }}
alias ls='exa --color=always --group-directories-first --icons=always'
alias ll='exa -l --color=always --group-directories-first --icons=always'
alias la='exa -la --color=always --group-directories-first --icons=always'
{{- end }}

# --------------------------------------------------
# NixOS
# --------------------------------------------------

{{- if $isNixOS }}
alias update='sudo nixos-rebuild switch --flake .#'
alias update-boot='sudo nixos-rebuild boot --flake .#'
alias check='sudo nixos-rebuild dry-run --flake .#'
alias upgrade='nix flake update && sudo nixos-rebuild switch --flake .#'
alias nix-clean='sudo nix-collect-garbage -d && nix-collect-garbage -d'
alias nix-info='nixos-version && nix --version'
alias nix-gen='sudo nix-env --list-generations --profile /nix/var/nix/profiles/system'
alias rollback='sudo nixos-rebuild switch --flake .# --rollback'

alias v='hx'
{{- end }}

# --------------------------------------------------
# WSL-only
# --------------------------------------------------

{{- if $isWSL }}
alias drawio="/mnt/c/Program Files/draw.io/draw.io.exe"
alias here='explorer.exe .'
alias copy='clip.exe'
{{- end }}

# --------------------------------------------------
# Functions / prompt
# --------------------------------------------------

gp() {
  gopass show -o "$1"
}

eval "$(starship init zsh)"
eval "$(atuin init zsh)"
