{{- if index . "work_git_email" }}
[user]
	name  = {{ .work_git_username }}
	email = {{ .work_git_email }}
{{- if eq (index . "work_signing_method") "gpg" }}
	signingkey = {{ .work_gpg_signing_key }}
[commit]
	gpgsign = true
[tag]
	gpgsign = true
{{- else if eq (index . "work_signing_method") "ssh" }}
	signingkey = {{ .work_ssh_signing_key }}
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[commit]
	gpgsign = true
[tag]
	gpgsign = true
{{- end }}
{{- end }}
