[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
	path = ~/.config/git/config-personal-github

[includeIf "hasconfig:remote.*.url:https://github.com/**"]
	path = ~/.config/git/config-personal-github

[core]
	editor = nvim
	excludesfile = ~/.config/git/ignore
	pager = less -FRX

[credential]
	{{- $isWSL := and (eq .chezmoi.os "linux") (contains "microsoft" (lower .chezmoi.kernel.osrelease)) -}}
	{{- if $isWSL }}
	helper = /mnt/c/Program Files/Git/mingw64/bin/git-credential-manager.exe
	{{- else }}
	helper = manager
	{{- end }}
	useHttpPath = true

[color]
	ui = auto

[init]
	defaultBranch = main

[pull]
	rebase = true

[rebase]
	autostash = true

[fetch]
	prune = true

[push]
	default = simple

[rerere]
	enabled = true

[diff]
	algorithm = histogram

[merge]
	conflictstyle = diff3

[alias]
	st = status -sb
	co = checkout
	br = branch
	ci = commit
	lg = log --graph --decorate --pretty=format:'%C(bold blue)%h%Creset - %Cgreen%s%Creset %C(dim)%an, %ar%Creset' --all
	lol = log --graph --oneline --decorate --all
	amend = commit --amend --no-edit
	unstage = reset HEAD --
	last = log -1 --pretty=format:'%h %s (%cr)'

{{- if index . "work_git_email" }}

[includeIf "hasconfig:remote.*.url:git@{{ .work_vcs_host }}:*/**"]
	path = ~/.config/git/config-work

[includeIf "hasconfig:remote.*.url:https://{{ .work_vcs_host }}/**"]
	path = ~/.config/git/config-work
{{- end }}

{{- if index . "work_ado_org" }}

[includeIf "hasconfig:remote.*.url:git@ssh.dev.azure.com:v3/{{ .work_ado_org }}/**"]
	path = ~/.config/git/config-work

[includeIf "hasconfig:remote.*.url:https://dev.azure.com/{{ .work_ado_org }}/**"]
	path = ~/.config/git/config-work

[includeIf "hasconfig:remote.*.url:https://{{ .work_ado_org }}@dev.azure.com/**"]
	path = ~/.config/git/config-work
{{- end }}

{{- if eq .chezmoi.os "windows" }}
[core]
	fileMode = false
{{- end }}
