[[language]]
name = "python"
formatter = { command = "ruff", args = ["format", "-"] }
auto-format = true

[[language]]
name = "go"
auto-format = true

[[language]]
name = "yaml"
formatter = { command = "prettier", args = ["--parser", "yaml"] }
auto-format = true

[[language]]
name = "markdown"
formatter = { command = "prettier", args = ["--parser", "markdown"] }
auto-format = true

[[language]]
name = "bash"
file-types = [
  { glob = "*.zshrc.tmpl" }
]

[[language]]
name = "bash"
file-types = [
  { glob = "*.toml.tmpl" }
]

[[language]]
name = "json"
file-types = [
  { glob = "*.json.tmpl" }
]
